.biopic { 

	width: 350px;
	height: 450px;
	margin: 50px;
	
}

.navbar-brand {

	font-size: 45px;
}

h1 {
	padding-top: 45px;
}
}

h2 {
	margin: 95px;
}

button  {
	position: center;
}

.col-md-4 {
	margin: 10px;
}

.col-md-5 {
	margin: 80px;
}

.col-md-6 {

	height: 200px;
}

.social {
	width: 50px;
	height: 50px;
	content: center;
}

.cardtitle {
	text-align: center;

}

#copywright {
	font-size: 15px;''
}

#OAC {
	font-size: 13px;

}

#main-content {
	border-style: solid;
}

#header {
	border-style: solid;

}

#main-contentport {
	border-style: solid;
}

#main-contentcontact {
	border-style: solid;
}

.form-group {
	margin: 40px;
	padding-bottom: 65px;
	position: center;
}
